div.container {
  width: 100%;
}

header {
  background-color: #558a87;
  padding: 1em;
  color: white;
  clear: left;
  text-align: center;
}

body {
  font-family: Roboto;
}

h1 {
  color: white;
}

p {
  font-family: "Open Sans";
}

.tablink {
  background-color: #93aaa5;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: #111;
  display: none;
  padding: 50px;
  text-align: center;
}

#tabintro {
  background-color: #b6c6be;
}
#tababout {
  background-color: #ccc;
}

/* You need CSS to make pretty pages. Here's part 2/3 of the flag: 1kUt6AeLu_ */
